<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b9d509b407.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Melody Daniel - CV</title>
  </head>
  <body>
    <div class="mt-3">
      <div class="container">
        <p>
          Hello {{.name}}, Thanks for sending a message, I'll get back to you as
          soon as possible.
        </p>
      </div>
    </div>
    <footer class="mt-5 mb-3">
      <div class="text-center">
        <a
          href="https://github.com/melodyogonna/hngcv"
          class="mr-4 d-inline-block"
          target="_blank"
          ><i class="fab fa-github fa-3x"></i
        ></a>
        <a href="https://zuri.team/" target="_blank" class="d-inline-block"
          ><img src="https://zuri.team/img/zuri-logo-full.svg" alt="Zuri Logo"
        /></a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
