<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b9d509b407.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Melody Daniel - CV</title>
  </head>
  <body>
    <div class="mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class="contact-details">
              <h1>{{.name}}</h1>
              <h5>{{.email}}</h5>
              <h5>{{.phone}}</h5>
              <h5>{{.address}}</h5>
            </section>
            <section class="personal profile mt-3 col-sm-10">
              <p>
                Extremely motivated to constantly develop my skills and grow
                professionally. Dedicated to adding value and proffering
                innovative and effective solutions to real-world problems.
              </p>
            </section>

            <section class="experiences mt-5">
              <h2>Work Experience</h2>

              <div class="experiences__list mt-3">
                <div class="experiences__container">
                  <h4>Backend developer intern - Remote</h4>
                  <span>Zuri Internship</span><br />
                  <span>Aug 2021 - Present</span>

                  <ul class="mt-3 px-3">
                    <li>Completed tasks</li>
                  </ul>
                  <b>Technologies: Go, HTML, CSS, Javascript</b>
                </div>
                <div class="experiences__container mt-5">
                  <h4>Backend developer intern - Remote</h4>
                  <span>HNG Internship</span><br />
                  <span>Aug 2019 - November 2019</span>

                  <ul class="mt-3 px-3">
                    <li>Completed tasks</li>
                    <li>Organized and worked with teams</li>
                    <li>Developed applications for real-world use</li>
                    <li>Networked and made friends</li>
                  </ul>
                  <b>Technologies: Python, HTML, CSS, Javascript</b>
                </div>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <h4>Send a message</h4>
            <form action="" method="post" accept-charset="utf-8">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  placeholder="John Doe"
                  name="name"
                  id="name"
                  class="form-control"
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">Email</label>
                <input
                  type="text"
                  placeholder="john.doe@email.com"
                  name="email"
                  id="email"
                  class="form-control"
                />
              </div>
              <div class="form-group mt-3">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  class="form-control"
                  cols="30"
                  rows="10"
                ></textarea>
              </div>

              <button class="btn btn-primary mt-4">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="mt-5 mb-3">
      <div class="text-center">
        <a
          href="https://github.com/melodyogonna/hngcv"
          class="mr-4 d-inline-block"
          target="_blank"
          ><i class="fab fa-github fa-3x"></i
        ></a>
        <a href="https://zuri.team/" target="_blank" class="d-inline-block"
          ><img src="https://zuri.team/img/zuri-logo-full.svg" alt="Zuri Logo"
        /></a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
